{% extends 'base.html' %}


{% block title %}ECOMZ | Home{% endblock title %}


{% block content %}

{% if msg %}
    <h2 style="color: brown;">{{ msg }}</h2>
{% else %}
<div class="container">
    <h1>Featured Products</h1>
    <div class="product-grid">
        {% for product in all_products %}
        <div class="product-card">
            <div class="product-info">
                <p class="product-name">{{ product.name }}</p>
                <p class="product-category">{{ product.category }}</p>
                <p class="product-price">₹{{ product.price }}</p>
                <a href="{% url 'product_details' product.id <%}" class="view-details-btn">View Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock content %}