{% extends 'base.html' %}


{% block title %}ECOMZ | {{user.username}}{% endblock title %}


{% block content %}
<h2>{{user.username}}</h2>
<p>EMAIL    : {{user.email}}</p>
<p>MOBILE    : {{user.phone_number}}</p>
<p>ADDRESS   : {{user.address}}</p>

{% if order %}
    <h2>Current Order</h2>
    <p>ORDER ID: {{ order.id }}</p>
    <p>TOTAL: {{ order.total_amount }}</p>
    <hr>
    <ul>
        {% for order_item in order_items %}
            <li>{{ order_item.product.name }} - {{ order_item.quantity }} x {{ order_item.price_per_unit }}</li>
        {% empty %}
            <p>No items in the order.</p>
        {% endfor %}
    </ul>
{% else %}
    <p>No active orders.</p>
{% endif %}


{% endblock content %}